# Environments
.env
.env.*
venv/
.venv/
env/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
*.manifest
*.spec

# Logs and databases
*.log
*.sqlite3

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Type checking
.mypy_cache/
.pyre/
.pytype/

# Unit test / coverage reports
.pytest_cache/
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
